{{- define "fieldType" -}}

{{- $name := .Name -}}
{{- $comments := .Comments -}}
{{- $type := .Type -}}
{{- $typeMap := .TypeMap -}}
{{- $indent := .Indent -}}

{{- if isMapType $type -}}

type: object
{{ if exists . "Name" -}}
{{ $indent }}title: {{$name}}
{{ if and (exists . "Comments") ( gt (len $comments) 0) }}{{ $indent }}description: {{ join $comments ";" }}
{{ else }}{{ $indent }}description: {{$name}} as in {{$type}}{{ end }}{{ end }}
{{ $indent }}additionalProperties:
{{ $indent }}  {{ template "fieldType" dict "Type" (mapValueType $type) "TypeMap" $typeMap "Indent" (print $indent "  ") }}

{{- else if isListType $type -}}

type: array
{{ if exists . "Name" -}}
{{ $indent }}title: {{$name}}
{{ if and (exists . "Comments") ( gt (len $comments) 0) }}{{ $indent }}description: {{ join $comments ";" }}
{{ else }}{{ $indent }}description: {{$name}} as in {{$type}}{{ end }}{{ end }}
{{ $indent }}items:
{{ $indent }}  {{ template "fieldType" dict "Type" (listElemType $type) "TypeMap" $typeMap "Indent" (print $indent "  ") }}

{{- else if isCoreType $type -}}

{{ if eq (get $typeMap $type) "timestamp" }}type: string
{{ $indent }}format: date-time
{{- else }}type: {{ get $typeMap $type }}{{ end }}
{{ if exists . "Name" -}}
{{ $indent }}title: {{$name}}
{{ if and (exists . "Comments") ( gt (len $comments) 0) }}{{ $indent }}description: {{ join $comments ";" }}
{{ else }}{{ $indent }}description: {{$name}} as in {{$type}}{{ end }}{{ end }}

{{- else -}}

$ref: "#/components/schemas/{{$type}}"

{{- end -}}
{{- end -}}
