{{- define "type" -}}

{{- /* Required args */}}
{{- $typeMap := .TypeMap -}}
{{- $type := .Type -}}

{{$type.Name}}:
    {{- if isEnumType $type}}
      type: string
      title: {{$type.Name}}
      {{if gt (len $type.Fields) 0 -}}
      {{if gt (len $type.Comments) 0 -}}
      description: |
        {{- range $i, $comment := $type.Comments}}{{if (ne $comment "")}}
        {{ $comment }}
        {{ end -}}
        {{- end }}
      {{- else }}
      description: Represented as {{$type.Name}} {{$type.Type}} on the server side
      {{- end }}
      {{end -}}
      enum:
        {{- range $i, $field := $type.Fields}}
        - "{{if eq (printf `%v` $i) (printf `%v` $field.Value)}}{{$field.Name}}{{else}}{{$field.Value}}{{end}}"
        {{- end -}}
    {{else}}
      type: object
      title: {{$type.Name}}
      {{- if gt (len $type.Fields) 0}}
      {{if gt (len $type.Comments) 0 -}}
      description: |
        {{- range $i, $comment := $type.Comments}}{{if (ne $comment "")}}
        {{ $comment }}
        {{ end -}}
        {{- end }}
      {{- else }}
      description: Represented as {{$type.Name}} object on the server side
      {{- end }}
      {{- if gt (len $type.RequiredFields) 0}}
      required:
      {{- range $i, $field := $type.RequiredFields }}
        - {{$field.Name}}
      {{- end }}
      {{- end }}
      properties:
      {{- end -}}
      {{- range $i, $field := $type.Fields }}
        {{$field.Name -}}:
          {{ template "fieldType" dict "Name" $field.Name "Comments" $field.Comments "Type" $field.Type "TypeMap" $typeMap "Indent" "          " }}
          {{- range $meta := $field.Meta -}}
            {{- range $metaKey, $metaValue := $meta -}}
              {{- if and (hasPrefix $metaKey "openapi.") (eq $metaKey "openapi.pattern") }}
          {{ printf "%s: %q" (trimPrefix $metaKey "openapi.") (trim $metaValue)}}
          {{ else }}
          {{ printf "%s: %s" (trimPrefix $metaKey "openapi.") (trim $metaValue) }}
              {{- end -}}
            {{- end -}}
          {{- end -}}
      {{- end -}}
    {{- end -}}
{{- end -}}
